@model dotnet_vue_server_side_rendering.Models.ClientState


@{
    ViewData["Title"] = "Home Page";
}

<div>Hello World</div>

    <div class="my-app" asp-prerender-module="VueApp/renderOnServer" asp-prerender-data="Model"></div>
    <script src="~/dist/bundle.client.js" asp-append-version="true"></script>